@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8fafc; /* slate-50 */
}
html.dark body {
  background-color: #020617; /* slate-950 */
}
